<?xml version="1.0"?>
<ruleset name="Site Migrator">
	<description>WordPress Coding Standards for Site Migrator.</description>

	<file>site-migrator.php</file>
	<file>uninstall.php</file>
	<file>includes</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/migrator-staging/*</exclude-pattern>
	<exclude-pattern>*/assets/*</exclude-pattern>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="WordPress.DB.DirectDatabaseQuery"/>
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching"/>
		<exclude name="WordPress.DB.DirectDatabaseQuery.SchemaChange"/>
		<exclude name="WordPress.DB.PreparedSQL.InterpolatedNotPrepared"/>
		<exclude name="WordPress.DB.PreparedSQL.NotPrepared"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_file_put_contents"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_rmdir"/>
		<exclude name="WordPress.PHP.NoSilencedErrors.Discouraged"/>
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_unserialize"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_operations"/>
		<exclude name="WordPress.WP.AlternativeFunctions.unlink_unlink"/>
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_serialize"/>
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.obfuscation_base64_encode"/>
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.obfuscation_base64_decode"/>
	</rule>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.PHP.YodaConditions"/>
	</rule>

	<rule ref="WordPress-Docs">
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
		<exclude name="Squiz.Commenting.ClassComment.Missing"/>
		<exclude name="Squiz.Commenting.FunctionComment.Missing"/>
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment"/>
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamTag"/>
	</rule>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="PHPCompatibilityWP"/>

	<arg value="ps"/>
	<arg name="extensions" value="php"/>
</ruleset>
